<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>My Dev Skills</title>
</head>

<body>
    <h1>Skills as of
        <%= time %>
    </h1>
    <a href="/skills">
        <button>See My Skills</button>
    </a>
</body>

</html>